*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* SCREEN */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    transform: scale(1.25);
    overflow: hidden;
}

/* MAIN BOX CONTAINS FORM AND SWITCHER */

.main{
    min-width: 320px;
}

.header{
    margin-bottom: 0.75rem;
    border-bottom: 2px solid #1f2937;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
    justify-content: center;
}

#switcher{
    margin-top: 2rem;
    margin: 1rem;
    text-align: center;
}

#switcher:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* FORM BODY */
.form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #1f2937;
    
}


/* FORM HEADER */
h2{
    background-color: inherit;
    font-size: 2.0rem;
    align-self: center;
}

/* LOGIN PASSOWRD */
button{
    margin: 0.5rem;
    border-style: none;
    color: white;
    background-color: #1f2937;
    padding: 0.5rem;
    font-size: 1rem;
    border-style: solid;
    border-color: 2px solid #1f2937;
}

button:hover{
    cursor: pointer;
    background-color: #36475f;
}

#error{
    color: #BB3333;
    text-align: center;
    margin: 0.25rem;
    background-color: unset;
}
/* INPUT SECTION FOR USERNAME AND PASSWORD */
input:focus{
    border-color: #1f2937;
    outline: none;
}

input{
    border: 2px solid #d1d5db;
    width: 100%;
    padding: 0.5rem;
}

.username,
.password{
    background: unset;
    margin: 0.5rem;
}
